.design-container {
  background-image: linear-gradient(270deg,#08344e ,#293b30);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 30px 0;
}

.design-list-item {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-bottom: solid rgba(255, 255, 255, 0.217) 1px;
}

#design-list-item4 {
  border-bottom: none !important;
}

.number-icon {
  opacity: .7;
  height: 70px;
  border: none;
  background-color: transparent;
  color: white;
}

.design-list-info {
  padding: 16px;
}

.design-list-item p {
  font-size: 1.2em;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
}

.design-list-info h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  text-align: left;
  background: -webkit-linear-gradient(right , rgb(255, 255, 255), rgb(179, 179, 179));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.design-info {
  width: 50vw;
}

.design-header {
  background-color: rgba(255, 255, 255, 0.078);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px 10px 0 0;
}

.design-header h4 {
  margin-bottom: 0;
}

.design-data {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.018);
  border-radius: 0 0 10px 10px;
}

@media only screen and (min-width: 1px) and (max-width: 430px) {
  .design-list-item {
    font-size: .7em;
  }

  .design-list-info {
    padding: 5px;
  }

  .design-header {
    padding: 15px;
  }

  .design-header h4 {
    font-size: 1em;
  }

  .design-data h5 h6 {
    font-size: 1em;
  }
}
