.dropdown-item {
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

#dropdown-basic-button {
  background-color: transparent;
  border: none;
  font-family: 'Montserrat', sans-serif;
  display: none;
}

.dropdown-menu.show {
  padding: 10px;
  background-color: #e3e3e3;
}


@media only screen and (min-width: 1px) and (max-width: 700px) {
  #dropdown-basic-button {
    display: inline;
    margin-top: 20px;
  }
}
