.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 30px;
}

.header-logo p {
  background: -webkit-linear-gradient(right , rgb(241, 241, 241), rgb(146, 146, 146));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.header-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 30px;
  color: white;
}

nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.355)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1677667011/pexels-cottonbro-studio-7480243_wq6ndj.jpg);
  background-position: center;
  background-size: cover;
}

.slogan-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10vw;
  position: relative;
  top: 50px;
}

.slogan-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 620px;
}

.slogan-container p {
  color: white;
  opacity: .7;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#slogan {
  border-right: solid 1px rgba(255, 255, 255, 0.65);
}

.title-container {
  padding: 100px 0;
}

.title-block {
  display: flex;
  justify-content: space-between;
}

.title-container h1 {
  padding: 10px 0 20px 30px;
  text-align: left;
}

.title-container h2 {
  font-size: 3.5em;
  text-align: left;
  padding: 10px 0 30px 30px;
}

.lets-go {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lets-go-btn {
  padding: 25px;
  color: white;
  border: solid 5px transparent;
  background: linear-gradient(rgb(34, 34, 34), rgb(42, 42, 42)) padding-box,
  linear-gradient(to right, #e2ba50, #dcc585) border-box;  border-radius: 50%;
  margin-right: 10vw;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.633);
  text-decoration: none;
}

.social-media-icons {
  margin-left: 10px;
  padding: 10px;
  right: 10px;
  color: white;
  height: 40px;
  width: 40px;
  border: solid white 1px;
  border-radius: 50%;
  opacity: .7;
}

.dropdown-toggle::after {
  display: none !important;
}

@media only screen and (min-width: 451px) and (max-width: 700px) {
  .header-container {
    display: none;
  }

  .title-container {
    padding: 0px 20px 20px 0;
    margin-top: 0;
  }

  #lets-go-btn {
    display: none;
  }

  .slogan-container {
    position: static;
    margin-right: auto;
  }

  .slogan-block {
    max-width: 100vw;

  }

  .slogan-container p {
    font-size: .7em;
    text-align: center;
  }

  .title-block {
    display: block;
  }

  .title-block h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .title-block h2 {
    padding: 30px;
    text-align: center;
  }
  .social-media-icons {
    display: none;
  }

}

@media only screen and (min-width: 1px) and (max-width: 450px) {
  .header-container {
    display: none;
    margin-top: 0;
  }

  .title-container {
    padding: 0px 5px 20px 5px;
  }

  #lets-go-btn {
    display: none;
  }

  .slogan-container {
    position: static;
    margin-right: 0;
  }

  .slogan-container p {
    font-size: .7em;
    text-align: center;
  }

  .title-block h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .title-block h2 {
    padding: 30px;
    text-align: center;
  }

  .social-media-icons {
    display: none;
  }
}
