.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 30px;
  color: white;
}

.header-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 30px;
  color: white;
}

nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.115)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1669281725/pexels-kelly-13766418_etqld7.jpg);
  background-position: center;
  background-size: cover;
}

#slogan {
  color: white;
  opacity: .7;
}

.title-container {
  padding: 100px 0;
}

.title-container h1 {
  padding-bottom: 100px;
}
