#section1 {
  margin: 10vh 0 10vh 6vw;
}

.top-section {
  display: flex;
}

.bottom-section {
  display: flex;
}

.div1 {
  position: relative;
  height: 40vh;
  width: 40vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1675731943/pexels-geoff-duke-365717_hftrjq.jpg);
  background-size: cover;
  box-shadow: 0 5px 10px rgba(0,0,0,0.42);
}

.div1-second {
  display: none;
}

.div1 p {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .7;
}

.div2 {
  height: 40vh;
  width: 54vw;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upper-text {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#upper-text h4 {
  font-size: 2em;
  margin-bottom: 0;
  text-align: left;
}

#upper-text p {
  font-size: .8em;
  text-align: left;
}

#mid-text {
  padding-left: 20px;
  font-weight: bolder;
  font-size: 3em;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

#lower-text {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

#lower-text p {
  font-size: .8em;
  padding-right: 30px;
  max-width: 160px;
  text-align: left;
}

#lower-text h3 {
  text-align: left;
  font-size: 2em;
  align-items: baseline;
}

@media only screen and (min-width: 431px) and (max-width: 950px) {
  .div2 {
    padding: 10px;
  }

  #upper-text {
    padding: 10px;
  }

  #upper-text h4 {
    font-size: 1.5em;
  }

  #mid-text {
    padding-left: 10px;
    font-size: 1.7em;
  }

  #lower-text {
    padding: 10px;
  }

  #lower-text p {
    font-size: .8em;
  }

  #lower-text h3 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1px) and (max-width: 430px) {
  #section1 {
    margin: 0;
  }

  .top-section {
    display: block;
  }

  .bottom-section {
    display: block;
  }

  .div1 {
    display: none;
  }

  .div1-second {
    display: block;
    height: 40vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1675731943/pexels-geoff-duke-365717_hftrjq.jpg);
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0,0,0,0.42);
    position: relative;
  }

  .div1-second p {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .7;
  }

  .div2 {
    width: 100vw;
    height: 100%;
  }

  .div3 {
    display: none;
  }

  .div2 {
    padding: 10px;
  }

  .div4 {
    width: 100vw !important;
  }

  #upper-text {
    padding: 10px;
    font-size: 1.2em;
  }

  #upper-text h4 {
    font-size: 1em;
    padding-right: 10px;
  }

  #mid-text {
    padding-left: 10px;
    font-size: 1.4em;
  }

  #lower-text {
    padding: 10px;
  }

  #lower-text p {
    font-size: .6em;
  }

  #lower-text h3 {
    font-size: 1.2em;
  }
}

.div3 {
  background-color: rgb(195, 195, 195);
  width: 40vw;
  height: 10vh;
  border-bottom-left-radius: 10px;
}

.div4 {
  color: white;
  background-image: linear-gradient(270deg,#08344e ,#293b30);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 54vw;
  box-shadow: 0 5px 10px rgba(0,0,0,0.42);
}

.div4 h4 {
 display: flex;
 justify-content: center;
 margin-bottom: 0;
}

.prices {
  background-color: rgb(207, 207, 207);
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#right-arrow {
  padding-left: 20px;
  font-size: 1em;
}

#location-dot {
  padding-right: 10px;
}

.subheader-container {
  padding: 50px 0;
}

.subheader4-container {
  padding: 50px 0 0 50px;
}

.subheader-container p {
  padding: 0 5px;
}

#subheader1 {
  background: -webkit-linear-gradient(right , rgb(142, 142, 142), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

#subheader2 {
  background: -webkit-linear-gradient(right , rgb(142, 142, 142), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

#subheader3 {
  background: -webkit-linear-gradient(right , rgb(142, 142, 142), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

#subheader4 {
  background: -webkit-linear-gradient(right , rgb(142, 142, 142), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  text-align: left;
}

#image1 {
  height: 500px;
  width: 100vw;
  object-fit: cover;
}
