.table-container {
  padding: 0 5vw 50px 5vw;
  overflow: hidden;
}

#spec-h5 {
  margin-top: 20px;
}

#extras-btn {
  margin: 30px auto 0 auto;
  color: white;
  border: solid 5px transparent;
  background: linear-gradient(rgb(34, 34, 34), rgb(42, 42, 42)) padding-box,
  linear-gradient(to right, #e2ba50, #dcc585) border-box;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  padding: 10px;
}

@media only screen and (min-width: 1px) and (max-width: 750px) {
  thead {
    font-size: .8em;
  }

  #pricing-table {
    margin: auto;
  }

  .table-container tr {
    font-size: .6em;
  }
}
