.table-container {
  padding: 0 5vw 50px 5vw;
  overflow: hidden;
}

/* .table {
  max-width: 300px;
} */

@media only screen and (min-width: 1px) and (max-width: 750px) {
  thead {
    font-size: .8em;
  }

  #pricing-table {
    margin: auto;
  }

  .table-container tr {
    font-size: .6em;
  }
}
