.whyround-container {
  display: flex;
  border-top: solid rgba(0, 0, 0, 0.33) 1px;
  width: 80vw;
  padding-top: 40px;
  margin: 40px auto;
}

.whyround-left {
  width: 50%;
}

.whyround-right {
  width: 50%;
}

#subheader5 {
  background: -webkit-linear-gradient(right , rgb(142, 142, 142), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.button {
  margin: 30px auto 0 auto;
  color: white;
  border: solid 5px transparent;
  background: linear-gradient(rgb(34, 34, 34), rgb(42, 42, 42)) padding-box,
  linear-gradient(to right, #e2ba50, #dcc585) border-box;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  padding: 10px;
}

.whyround-popup-container {
  color: rgb(220, 220, 220);
}
